[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/sudhakarmuthyala
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/sudhakarmuthyala
	label-Verified = -1..+1 group user/sudhakarmuthyala
	push = group user/sudhakarmuthyala
	read = group user/sudhakarmuthyala
	rebase = group user/sudhakarmuthyala
	removeReviewer = group user/sudhakarmuthyala
	submit = group user/sudhakarmuthyala
[access "refs/heads/*"]
	create = group user/sudhakarmuthyala
	push = +force group user/sudhakarmuthyala
	pushMerge = group user/sudhakarmuthyala
	read = group user/sudhakarmuthyala
[access "refs/tags/*"]
	push = group user/sudhakarmuthyala
	push = +force group user/sudhakarmuthyala
